@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: gray;
}

/* hedings and logo */

h1,
h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgrey;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid darkgray;
}

.active {
    border-bottom: 1px solid darkgray;
}

/* hero image */

#hero-outer {
    height: 495px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: white;

}

#hero-image {
    height: 495px;
    width: 100%;
    background: url('../images/hero image.jpg') no-repeat center center;
    /* animates zoom effects on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 220px;
    height: 150px;

    padding-top: 40px;
    padding-left: 5px;

    background-color: #f16d6bb3;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* community-mindset */
#community-mindset {
    height: 495px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px darkgrey;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/community-center-image.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

/*opeining hours*/

#schdule {
    text-align: left;
    margin-left: 20px;
    margin-top: 3%;
    font-size: 100%;

}

#openings {
    background-image: url('../images/openings-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#openings div {
    color: #fafafa;
    background-color: #00000099;
    width: 50%;
    height: 300px;
    padding: 3% 0 1% 0;
    float: left;
    text-align: center;
    display: inline;

}

/* footer */

footer {
    height: 150px;
}

.social-links {
    text-align: center;

}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: darkgray;
}

/* gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;

}

#photos>img {
    width: 100%;
}

/* Form */
.form-section {
    clear: left;
    background-image: url('../images/forms-background 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.signup-form {
    color: darkgrey;
    background-color: #00000099;
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
    width: 30%;
    height: 400px;
    float: left;
    padding: 5% 20px 5% 20px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 5px;
}

.text-input {
    color: black;
    width: 80%;
    height: 20px;
    margin: 5px 20px;
    border: 1px solid white;
    border-radius: 2px;
}

.text-input a:hover {
    border-color: darkgreen;
}

.join-button {
    margin-top: 15px;
    margin-left: 120px;
    border-radius: 2px;
    padding: 5px 10px 5% 10px;
    text-align: center;
    font-size: 100%;
    color: darkgreen;
    display: block;

}

.join-button a:hover {
    background-color: gray;
    color: darkgreen;
}

/* Media queries */

/* For larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #community-mindset {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;

    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #openings>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }

}

/* For medium screen sizes from 950px width and below */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    #cover-text {
        left: 0;
    }

    #community-mindset {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;

    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}

/* For small screen sizes 700px and down */

@media screen and (max-width: 700px) {
    #photos {
        column-count: 1;
    }

}